:root {
    --box-shadow: 
  0px 0px 10px rgba(0, 0, 0, 0.2),
  0px 4px 10px rgba(0, 0, 0, 0.2);
  --heading-1:35px;

  }
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
    
}
.first{
  /* box-shadow: var(--box-shadow); */
  font-size: var(--heading-1);
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.product-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.heading{
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}
.popuphorn{
  /* display: none; */
  width:120px
}
.product-box-1{
  /* border: 2px solid; */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow); 
  border-radius: 10px;
  flex-direction: column;
  padding: 20px 10px 20px 10px;
  flex-wrap: wrap;
  margin-left: 10px;
}